
@{
    ViewData["Title"] = "Index";
}

<body>
    <h2>@ViewData["greeting"]</h2>
    <div>@ViewData["date"]</div>
    <div>@ViewData["daysleft"]</div>

    <div class="link">
        
        <a href="~/Home/Items/10">Go to Page 2...</a>
        <a asp-controller="Person" asp-action="Person">Go to Page 3...</a>

    </div>

</body>
