@model lab4.Models.Person

@{
    ViewData["Title"] = "Person";
}

<h2>Person</h2>

<div>
    <h4>Person</h4>

    @if(@Model.FirstName != null){
    <div>First Name: @Model.FirstName</div>
    <div>Last Name: @Model.LastName</div>
    <div>Birthdate: @ViewData["birthdate"]</div>
    <div>Age: @ViewData["Age"]</div>
    }
    else
    {
    <div>No Person Available</div>
    }

    <div class="link">
        <a href="addPerson">Add Person</a>
        <a href="~/Home/Index">Home Page</a>
    </div>
</div>
